PORT=5000
MONGO_URI=mongodb+srv://kishore:mUA1pv50JYTMUZBb@kishore04.n1uxl.mongodb.net/AuthApp?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret
JWT_EXPIRE=7d
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=kishorevg04@gmail.com    
EMAIL_PASS=123456789
CLIENT_URL=http://localhost:5173
NODE_ENV=development
